@import url('https://fonts.googleapis.com/css?family=Oleo+Script|Open+Sans:300,400,700,800&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E4E4E4;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
}

$colors: (
        verti-logo : #FC4887,
    //mobile
    //active-nav-btn-bg-mobile
    //desktop, tablet
        active-nav-btn-bg: #444444,
        btn-ok-bg: #1691C3,
        btn-more-info-bg: #E4E4E4,
);

$break-points: (
        mobile: "(max-width: 767px)",
        tablet: "(min-width: 778px)",
        desktop: "(min-width: 1200px)",
);

@mixin cta_button($color) {
    background-color: $color;
    font-family: 'Open Sans', sans-serif;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    line-height: 90px;
}

.nav-active {
    color: white;
    background-color: map-get($colors, active-nav-btn-bg);
    border-radius: 7px;
}

.main-container {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;

    header {
        display: flex;
        flex-direction: column;
        margin: 0 20px;

        .wrapper{
            margin-top: 45px;
        }

        .icon {
            font-size: 12px;
            width: 70px;
            height: 45px;
            border-radius: 7px;
            background-color: #3D3D3D;
            opacity: 0.2;
            color: white;

            position:fixed;
            top: 8px;
            left: 8px;

            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
            &:active{
                opacity: 0.4;
            }
        }

        .menu-container {
            display: flex;
            align-items: center;
            justify-content: center;

            .logo-container{
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
            }

            .logo {
                font-family: 'Oleo Script', sans-serif;
                height: 67px;
                width: 145px;
                color: white;
                background-color: map-get($colors, verti-logo);
                border-radius: 8px;
                letter-spacing: 3px;
                line-height: 67px;
                font-size: 25px;
                text-align: center;
                margin-bottom: 10px;
            }

            p{
                font-size: 15px;
                text-align: center;
                font-weight: 800;
                color: #444444;
            }

            nav {
                ul {
                    display: none;
                    li {
                        list-style: none;
                    }
                }
            }
        }
    }

    .banner {
        margin: 0 25px;

        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px 20px;

        //@media only screen and (min-width: 760px){
        //    flex-direction: row;
        //}

        .banner_text {
            margin-bottom: 15px;
            h2 {
                font-size: 35px;
                margin-bottom: 10px;
            }
            p {
                font-size: 30px;
            }
        }
        .banner_buttons {
            width: 100%;

            .button:first-child {
                @include cta_button(map-get($colors, btn-ok-bg));
                color: white;

                &:hover {
                    filter: brightness(105%);
                    cursor: pointer;
                }
                &:active {
                    filter: brightness(110%);
                    cursor: pointer;
                }
            }

            .button:last-child {
                @include cta_button(map-get($colors, btn-more-info-bg));
                color: #444444;

                &:hover {
                    filter: brightness(95%);
                    cursor: pointer;
                }

                &:active {
                    filter: brightness(90%);
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and #{(map-get($break-points, tablet))} {

    .main-container header {

        .icon {
            display: none;
        }

        .menu-container {

            justify-content: space-between;
            align-items: center;

            .logo-container{
                flex-direction: row;

                .text {
                    display: flex;
                    align-items: center;
                    margin-left: 10px;
                }
            }

            nav ul {
                display: flex;
                list-style: none;
                li {
                    margin-right: 10px;
                    font-weight: 600;
                    padding: 3px 5px;

                    &:hover {
                        filter: brightness(110%);
                        transform: scale(1.05);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .main-container .banner {
        flex-direction: row;

    }
}

//font-family: 'Open Sans', sans-serif;